/* ******************************************** */
/* ***************** general ****************** */
/* ******************************************** */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#chat_icon {
    background-color: gray;
    position: fixed;
    right: 15px;
    bottom: 15;
    border-radius: 45px;
}

.container {
    background-color: #f9f9f9;
    width: 100%;
    height: 1500px;
}

#navbar_upper {
    background-color: #f9f9f9;
    width: 100%;
    height: 74px;
    margin: 0 auto;
    padding: 0 10%;
}

#navbar_inner {
    background-color: #ffffff;
    width: 100%;
    height: 82px;
    margin: 0 auto;
    padding: 0 10%;
}

#upper_left {
    background-color: red;
    float: left;
    line-height: 74px;
}

#upper_right {
    background-color: blue;
    float: right;
    line-height: 74px;
}

#inner_left {
    background-color: green;
    float: left;
}

#inner_left img {
    /* sposto l'immagine versoo il basso per centrarla */
    position: relative;
    top: 26px;
}

#inner_right {
    background-color: purple;
    float: right;
    line-height: 82px;
}

#inner_right ul {
    margin: 0;
}

#inner_right ul li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
}

#jumbo {
    background-color: #fff2ee;
    background-image: url("images/background_trasp_houses.png");
    /* background-position: center; */
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #33475b;
}