/* ******************************************** */
/* ***************** general ****************** */
/* ******************************************** */
* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#chat_icon {
    background-color: gray;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    display: inline-block;
    width: 59px;
    height: 57px;
    padding-top: 12px;
    border-radius: 45px;
    cursor: pointer;
}

#chat_icon:hover {
    box-shadow: 2px 5px 10px #888888;
}

/* contenitore generico che mi dimensiona "il contenuto" all'80% della larghezza */
.container {
    width: 80%;
    margin: 0 auto;
}

/* ******************************************** */
/* *************** navbar upper *************** */
/* ******************************************** */
#navbar_upper {
    width: 100%;
    background-color: #f9f9f9;
    height: 74px;
    border-bottom: 1px solid #cbd6e2;
    /* imposto la navbar in modo che rimanga fissa */
    position: fixed;
    top: 0;
    z-index: 10;
}

#upper_left {
    float: left;
    line-height: 74px;
}

#upper_left #wrapper:hover {
    cursor: pointer;
}

/* spazio e stilo i 5 elementi della barra di sinistra */
#upper_left #wrapper span:nth-child(1) {
    color: #33475b;
}

#upper_left #wrapper span:nth-child(2) {
    padding-left: 10px;
    font-size: 14px;
}

#upper_left #wrapper span:nth-child(3) {
    color: #7c98b6;
    padding-right: 15px;
    font-size: 18px;
}

#wrapper+span {
    font-weight: 900;
    font-size: 22px;
    color: #cbd6e2;
}

#upper_left span:last-child {
    padding-left: 15px;
    font-size: 14px;
}

#upper_right {
    float: right;
    line-height: 74px;
}

#upper_right span i {
    color: #34b5ca;
    padding: 5px;
    cursor: pointer;
    margin-right: 25px;
}

/* spazio i 2 bottoni  */
#upper_right span:nth-child(2) {
    padding-right: 10px;
}

.btn-small {
    padding: 9px 16px;
}

.btn-medium {
    padding: 12px 24px;
}

.btn-large {
    padding: 26px 48px;
}

.btn {
    color: #ffffff;
    background-color: #ff7a59;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    /* con il bold testo lungo tende a disposrsi su 2 linee */
    white-space: nowrap;
}

/* stilo il bottone di login*/
#upper_right span:nth-child(2) button {
    background-color: #ffffff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    font-weight: normal;
}

/* bottone cta a fianco alogin */
#upper_right span:nth-child(3) button {
    font-weight: normal;
}

/* ******************************************** */
/* *************** navbar inner *************** */
/* ******************************************** */
#navbar_inner {
    /* setto un top margin per coprire  lo spazio lasciato libero dalla barra fissa */
    margin-top: 74px;
    background-color: #ffffff;
    height: 82px;
}

#inner_left {
    float: left;
}

#inner_left img {
    /* sposto l'immagine verso il basso per centrarla verticalmente  */
    position: relative;
    top: 26px;
    /* right: 210px; */
}

#inner_right {
    float: right;
    line-height: 82px;
}

#inner_right ul {
    margin: 0;
}

#inner_right ul li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    font-weight: bold;
}

#inner_right ul li {
    cursor: pointer;
}

#inner_right span {
    color: #7c98b6;
    padding-right: 15px;
    padding-left: 10px;
    font-size: 18px;
}

#inner_right a {
    padding-right: 15px;
}

/* ******************************************** */
/* ************* jumbo section **************** */
/* ******************************************** */
#jumbo {
    background-color: #fff2ee;
    background-image: url("images/background_trasp_houses.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* fisso l'immagine di sfondo grande come la viewport */
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    border-bottom: 3px solid #33475b;
    /* position: relative; */
}

#jumbo h1 {
    /* margin-top: 0; */
    font-size: 60px;
    font-weight: 700;
    color: #33475b;
}

.jumbo_wrapper {
    width: 50%;
    padding-top: 40px;
    /* position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); */
}

.jumbo_wrapper p {
    line-height: 1.5;
}

/* .jumbo_wrapper button {
    white-space: nowrap;
} */
.jumbo_wrapper p:last-child {
    font-size: 12px;
    line-height: 1.5;
}

#cta_wrapper {
    width: 40%;
}

/* ******************************************** */
/* ****************** sect1 ******************* */
/* ******************************************** */
#sect1 {
    text-align: center;
}

#sect1 img {
    width: 260;
    height: 194px;
    margin-top: 100px;
}

#sect1 h2 {
    font-size: 32px;
}

#sect1 p {
    padding: 0 100px;
    line-height: 1.5;
}

/* ******************************************** */
/* ****************** sect2 ******************* */
/* ******************************************** */
#sect2 {
    /* text-align: center; */
    background-color: lightyellow;
}

.sect2_row {
    background-color: lightcyan;
    margin-bottom: 50px;
    /* border: 1px solid black; */
}

.sect2_col {
    display: inline-block;
    width: 31.15%;
    background-color: lightpink;
    /* border: 1px solid black; */
}

#sect2 div:nth-child(3) {
    color: red;
    /* do' margini alla colonna centrale per spaziarla */
    margin: 0 3%;
}

/* ******************************************** */
/* ****************** sect3 ******************* */
/* ******************************************** */
/* ******************************************** */
/* ****************** sect4 ******************* */
/* ******************************************** */
/* ******************************************** */
/* ****************** sect5 ******************* */
/* ******************************************** */
/* ******************************************** */
/* ****************** footer ******************* */
/* ******************************************** */
footer {
    width: 100%;
    height: 200px;
    background-color: #33475b;
}