/* ******************************************** */
/* ***************** general ****************** */
/* ******************************************** */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #33475b;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* customizzo icona di fontawesome */
.fa-check-circle {
    color: #ff7a59;
    background-color: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#chat_icon {
    background-color: gray;
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    display: inline-block;
    width: 59px;
    height: 57px;
    padding-top: 12px;
    border-radius: 45px;
    cursor: pointer;
    /* copiato dal sito originale */
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1), 0 2px 24px rgba(0, 0, 0, .2);
}

#chat_icon:hover {
    /* copiato dal sito originale */
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2), 0 4px 28px rgba(0, 0, 0, .3);
}

.btn-small {
    padding: 9px 16px;
}

.btn-medium {
    padding: 12px 24px;
}

.btn-large {
    padding: 26px 48px;
}

.btn {
    color: #ffffff;
    background-color: #ff7a59;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    /* con il bold testo lungo tende a disposrsi su 2 linee */
    white-space: nowrap;
}

/* contenitore generico che mi dimensiona "il contenuto" all'80% della larghezza */
.container {
    width: 80%;
    margin: 0 auto;
}

.container-smaller {
    width: 71.34%;
    margin: 0 auto;
}

/* ******************************************** */
/* *************** navbar upper *************** */
/* ******************************************** */
#navbar_upper {
    width: 100%;
    background-color: #f9f9f9;
    height: 74px;
    border-bottom: 1px solid #cbd6e2;
    /* imposto la navbar in modo che rimanga fissa */
    position: fixed;
    top: 0;
    z-index: 10;
}

#upper_left {
    float: left;
    line-height: 74px;
}

#wrapper:hover {
    cursor: pointer;
}

/* spazio e stilo i 5 elementi della barra di sinistra */
#wrapper span:nth-child(1) {
    /* color: #33475b; */
}

#wrapper span:nth-child(2) {
    padding-left: 10px;
    font-size: 14px;
}

#wrapper span:nth-child(3) {
    color: #7c98b6;
    padding-right: 15px;
    font-size: 18px;
}

#wrapper+span {
    font-weight: 900;
    font-size: 22px;
    color: #cbd6e2;
}

#upper_left span:last-child {
    padding-left: 15px;
    font-size: 14px;
}

#upper_right {
    float: right;
    line-height: 74px;
}

#upper_right span i {
    color: #34b5ca;
    padding: 5px;
    cursor: pointer;
    margin-right: 25px;
}

/* spazio i 2 bottoni  login e cta*/
#upper_right span:nth-child(2) {
    padding-right: 10px;
}

/* stilo il bottone di login*/
#upper_right span:nth-child(2) button {
    background-color: #ffffff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    font-weight: normal;
}

/* bottone cta a fianco al login */
#upper_right span:nth-child(3) button {
    font-weight: normal;
}

.hr-styled {
    border-top: 1px solid #e0e6ed;
    border-bottom: 0;
}

/* ******************************************** */
/* *************** navbar inner *************** */
/* ******************************************** */
#navbar_inner {
    /* setto un top margin per coprire  lo spazio lasciato libero dalla barra fissa */
    margin-top: 74px;
    background-color: #ffffff;
    height: 82px;
}

#inner_left {
    float: left;
}

#inner_left img {
    /* sposto l'immagine verso il basso per centrarla verticalmente  */
    position: relative;
    top: 26px;
    /* right: 210px; */
}

#inner_right {
    float: right;
    line-height: 82px;
}

#inner_right ul {
    margin: 0;
}

#inner_right ul li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    font-weight: bold;
}

#inner_right ul li {
    cursor: pointer;
}

#inner_right span {
    color: #7c98b6;
    padding-right: 15px;
    padding-left: 10px;
    font-size: 18px;
}

#inner_right a {
    padding-right: 15px;
}

/* ******************************************** */
/* ************* jumbo section **************** */
/* ******************************************** */
#jumbo {
    background-color: #fff2ee;
    background-image: url("images/background_trasp_houses.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* fisso l'immagine di sfondo grande come la viewport */
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    border-bottom: 3px solid;
}

#jumbo h1 {
    font-size: 60px;
    font-weight: 700;
}

.jumbo_wrapper {
    width: 50%;
    padding-top: 40px;
}

.jumbo_wrapper p {
    line-height: 1.5;
}

.jumbo_wrapper p:last-child {
    font-size: 12px;
    line-height: 1.5;
}

#cta_wrapper {
    width: 40%;
}

/* ******************************************** */
/* ****************** sect1 ******************* */
/* ******************************************** */
#sect1 {
    text-align: center;
}

#sect1 img {
    width: 260px;
    height: 194px;
    margin-top: 100px;
}

#sect1 h2 {
    font-size: 32px;
}

#sect1 p {
    padding: 0 100px;
    line-height: 1.5;
}

/* ******************************************** */
/* ****************** sect2 ******************* */
/* ******************************************** */
#sect2 {
    /* text-align: center; */
    background-color: #f9f9f9;
    padding-bottom: 40px;
    margin-bottom: 100px;
}

.sect2-panel {
    line-height: 1.5;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 2px 5px 10px #f2f2f2;
    background-color: white;
}

/* effetto spostamento X-Y all'hover  sui pannelli */
.sect2-panel:hover {
    box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
    transform: scale(1.014);
    /* leggero ritardo */
    transition: 0.3s ease-in-out;
}

.sect2_row {
    margin-bottom: 50px;
    padding: 30px;
}

#sect2-row-right p {
    position: relative;
}

/* barra orizzontale che "segue" (after) il testo del paragrafo */
#sect2-row-right p:nth-child(3)::after {
    content: '';
    margin-left: 10px;
    border-top: 1px solid #e0e6ed;
    position: absolute;
    top: 10px;
    width: 60%;
}

.sect2_col {
    float: left;
    width: 30%;
    background-color: white;
    padding: 30px;
}

#sect2 div:nth-child(3) {
    /* do margini alla colonna centrale per spaziarla */
    margin: 0 5%;
}

#sect2-row-left {
    width: 40%;
    display: inline-block;
    text-align: center;
}

#sect2-row-right {
    width: 59%;
    display: inline-block;
}

#sect2-row-left img {
    width: 177px;
    height: 130px;
    margin-bottom: 15px;
}

#sect2 ul {
    text-align: left;
    padding-left: 0;
}

/* per tutte le liste in #sect2 */
#sect2 ul li {
    list-style-type: none;
    padding-right: 10px;
}

/* solo per la lista in sect2-row-right */
#sect2-row-right ul li {
    display: inline-block;
}

/* metto del margine tra l'icona "checked" e il testo */
#sect2 ul li i::after {
    margin: 5px;
    content: "";
}

.sect2_col img {
    width: 234px;
    height: 150px;
}

#sect2 .container:first-child {
    margin-bottom: 80px;
}

.sect2_col {
    display: inline-block;
    text-align: center;
}

/* ******************************************** */
/* ****************** sect3 ******************* */
/* ******************************************** */
#sect3 {
    width: 100%;
    color: white;
    padding: 100px 0;
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

#sect3-title {
    width: 75%;
    margin: 0 auto;
}

#sect3-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
    padding: 0 60px;
    text-align: center;
}

#sect3-title p {
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}

#sect3-table h2 {
    font-size: 38px;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

#sect3-table p {
    line-height: 1.5;
    font-size: 13px;
    text-align: center;
}

#square1 h2:after,
#square2 h2:after,
#square3 h2:after,
#square5 h2:after,
#square7 h2:after,
#square8 h2:after {
    content: "+";
    font-size: 16px;
    font-weight: normal;
    /* riposiziono  il simbolo un po più in alto per centrarlo */
    position: relative;
    bottom: 8px;
}

.square {
    border: 1px solid white;
    width: 25%;
    float: left;
    text-align: center;
    padding: 30px;
}

.square img {
    height: 33px;
}

/* questa è l'unica immagine con altezza diversa rispetto alle altre */
#square8 img {
    height: 23px;
}

#square1 {
    border-left: 0;
    border-top: 0;
}

#square2, #square3 {
    border-top: 0;
    border-left: 0;
}

#square4 {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#square5 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

#square6, #square7 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

#square8 {
    border: 0;
}

/* ******************************************** */
/* ****************** sect4 ******************* */
/* ******************************************** */
#sect4 {
    padding: 100px 0 120px;
    background-color: white;
}

#sect4-left {
    float: left;
    width: 30%;
}

#sect4-left h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

#sect4-left p {
    font-size: 18px;
    line-height: 1.5;
}

#sect4-right {
    float: left;
    width: 70%;
    padding-left: 30px;
}

#sect4 .box {
    float: left;
    width: 25%;
    height: 80px;
    text-align: center;
    padding: 20px 10px 10px;
}

.box img {
    width: 110px;
}

#box1 img {
    height: 14px;
}

#box2 img {
    height: 13px;
}

#box3 img {
    height: 30px;
}

#box4 img {
    height: 35px;
}

#box5 img {
    height: 37px;
}

#box6 img {
    height: 18px;
}

#box7 img {
    height: 44px;
}

#box8 img {
    height: 24px;
}

/* ******************************************** */
/* ****************** sect5 ******************* */
/* ******************************************** */
#sect5 {
    background-color: white;
    padding-bottom: 120px;
}

#sect5-left {
    float: left;
    width: 45%;
}

#sect5-left h2 {
    font-size: 34px;
    font-weight: bold;
}

#sect5-left p {
    line-height: 1.5;
}

#sect5-right {
    float: left;
    width: 55%;
    text-align: right;
}

#sect5-right img {
    width: 350px;
    height: 426px;
}

#sect5-left button {
    margin: 10px 0;
}

#sect5-left p:nth-child(4) {
    font-size: 12px;
}

/* ******************************************** */
/* ****************** footer ******************* */
/* ******************************************** */
footer {
    width: 100%;
    height: 200px;
    background-color: #33475b;
    color: white;
}